# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# macOS
.DS_Store

# Environment
.env
*.env

# IDEs
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.virtualenv/
pip-log.txt

# HandGPT specific
docs/*.md.bak
*.whl
bdist.*
